<% include ./partials/header %>
<h3>Login</h3>
<form action='/login' method='post'>
    <input type='text' name='username' placeholder='username'></input>
    <input type='password' name='password' placeholder='password'></input>
    <input type='submit' value='Submit'></input>
</form>
<% include ./partials/footer %>